<!DOCTYPE HTML>
<html>
<head>
	<title>SMXNode Master Controls</title>
</head>
<body>
	<form target="dothing" action="/wav" method="POST" enctype="multipart/form-data">
		<h3>Upload a WAV</h3>
		<div>
			<label>WAV File
			<!-- TODO: Validate filetype -->
			<input type="file" name="wav"></label>
		</div>
		<button>Submit</button>
	</form>
	<% unextracted.forEach(wavFile => {%>
		<form target="dothing" action="/line" method="POST" enctype="multipart/form-data">
			<h3>File "<%= wavFile.filename %>" is unextracted</h3>
			<input type="hidden" name="wavFileId" value="<%= wavFile.id %>">
			<div>
				<label>Sentence Content</label>
				<textarea name="sentence" style="font-family: inherit;"></textarea>
			</div>
			<button>Submit</button>
		</form>
	<% }); %>
	<% lines.forEach((line, i) => {%>
		<p>Sentence: <%=line.grammaticalSentence%></p>
		<form target="dothing" action="/line/<%=line.id%>" method="POST" enctype="multipart/form-data">
			<% lineWords[i].forEach(word => { %>
				<div class="wordCustomize">
					<label>Word: <%= word.txt %></label><br>
					Begin: <input value="<%=word.begin%>" name="wordbegin_<%=word.id%>" type="number">
					End: <input value="<%=word.end%>" name="wordend_<%=word.id%>" type="number">
				</div>
			<%})%>
			<button>Submit</button>
		</form>
	<%})%>
</body>
</html>